.container-hero {
  display: flex;
}

@media (min-width: 576px) {
  .container-hero {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-hero {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-hero {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-hero {
    max-width: 1140px;
  }
}
.left-col,
.right-col {
  width: 50%;
  padding: 30px;
}
.left-col h1 {
  font-size: 50px;
}
.left-col p {
  font-size: 20px;
  text-align: justify;
}
.left-col span {
  margin: 10px auto;
  display: block;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}
.hero-buttons {
  display: flex;
  justify-content: space-between;
}
.right-col img {
  width: 611px;
}

/* -------------------------------------- */
.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 50px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}
.btn-ghost-dark {
  border-width: 2px;
  color: #1b1b1b;
  background-color: transparent;
  border-color: #1b1b1b;
}
.btn-ghost-dark:hover {
  color: #fff;
  background-color: #1b1b1b;
  border-color: #1b1b1b;
}
